# IMPORTING LIBRARIES

In [63]:
import pandas as pd
import numpy as np

In [64]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [65]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [66]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [67]:
movies.shape

(4803, 20)

In [68]:
credits.shape

(4803, 4)

# MERGING BOTH DATASET

In [69]:
movies=movies.merge(credits,on='title')

In [70]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [71]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [72]:
movies=movies[['genres','movie_id','keywords','title','cast','crew','overview']]

In [73]:
movies.head()

,genres,movie_id,keywords,title,cast,crew,overview
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",A cryptic message from Bond’s past sends him o...
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Following the death of District Attorney Harve...
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","John Carter is a war-weary, former military ca..."

# PRE- PROCESSING

In [74]:
movies.isnull().sum()

genres      0
movie_id    0
keywords    0
title       0
cast        0
crew        0
overview    3
dtype: int64

In [75]:
movies.dropna(inplace=True)

In [76]:
movies.isnull().sum()

genres      0
movie_id    0
keywords    0
title       0
cast        0
crew        0
overview    0
dtype: int64

In [77]:
movies.duplicated().sum()

0

In [78]:
import ast

In [79]:
def gen(obj):
    geni=[]
    for i in ast.literal_eval(obj):                # the crew is in dictionary but is in string so we need to convert it into list 
        geni.append(i['name'])
    return geni

In [80]:
movies['genres']=movies['genres'].apply(gen)

In [81]:
movies['genres'].head(1)

0    [Action, Adventure, Fantasy, Science Fiction]
Name: genres, dtype: object

In [82]:
movies['keywords']=movies['keywords'].apply(gen)

In [83]:
movies['keywords'].head(1)

0    [culture clash, future, space war, space colon...
Name: keywords, dtype: object

In [84]:
def cast(obj):
    cas=[]
    count=0
    for i in ast.literal_eval(obj):                # the crew is in dictionary but is in string so we need to convert it into list 
        if count != 3:
            cas.append(i['name'])
            count=count+1
        else:
            break
    return cas

In [85]:
movies['cast']=movies['cast'].apply(cast)

In [86]:
movies['cast'].head(1)

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
Name: cast, dtype: object

In [87]:
def dire(obj):
    dir=[]
    for i in ast.literal_eval(obj):                # the crew is in dictionary but is in string so we need to convert it into list 
        if i['job']=='Director':
            dir.append(i['name'])
            break
    return dir

In [88]:
movies['crew']=movies['crew'].apply(dire)

In [89]:
movies['crew'].head(1)

0    [James Cameron]
Name: crew, dtype: object

In [90]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [91]:
movies['overview'].head(1)

0    [In, the, 22nd, century,, a, paraplegic, Marin...
Name: overview, dtype: object

In [92]:
movies.head()

,genres,movie_id,keywords,title,cast,crew,overview
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [93]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [94]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [95]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])

In [96]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])

In [97]:
movies.head(1)

,genres,movie_id,keywords,title,cast,crew,overview
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [98]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [99]:
movies.head(1)

,genres,movie_id,keywords,title,cast,crew,overview,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[In, the, 22nd, century,, a, paraplegic, Marin..."

In [100]:
df=movies[['movie_id','title','tags']]

In [101]:
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [102]:
df['tags']=df['tags'].apply(lambda x:' '.join(x))

C:\Users\VIKAS\AppData\Local\Temp\ipykernel_17136\3845374020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x:' '.join(x))

In [103]:
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [104]:
df['tags']=df['tags'].apply(lambda x:x.lower())

C:\Users\VIKAS\AppData\Local\Temp\ipykernel_17136\2034404066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x:x.lower())

In [105]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

#  Using NLP
 	Because some word like [go, going , gone] have same meaning so we will convert it into a single text
    						[go,go,go]

In [106]:
import nltk

In [107]:
from nltk.stem.porter  import PorterStemmer

In [108]:
ps=PorterStemmer()

In [109]:
def stem(text):
    tex=[]
    for i in text.split():
        tex.append(ps.stem(i))
    return " ".join(tex)

In [110]:
df['tags']=df['tags'].apply(stem)

C:\Users\VIKAS\AppData\Local\Temp\ipykernel_17136\4230616273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(stem)

In [111]:
df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

#  VECTORIZATION
a method use to count the same text repeated and create a table

In [112]:
from sklearn.feature_extraction.text import CountVectorizer

In [113]:
cv=CountVectorizer(max_features=5000,stop_words='english')

In [114]:
vector=cv.fit_transform(df['tags']).toarray()

In [115]:
vector.shape

(4806, 5000)

In [116]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

# To find the simality for movie
so we will check the angle between them if one movie and another movies has small angle between them then they are similar

In [117]:
from sklearn.metrics.pairwise import cosine_similarity

In [118]:
cos=cosine_similarity(vector)

In [119]:
cos[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

# Recommender system

In [120]:
def recom(movie):
    index=df[df['title']==movie].index[0]
    distance=cos[index]
    movies_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(df.iloc[i[0]].title)

In [121]:
recom('Kung Fu Panda')

Kung Fu Panda 2
Kung Fu Panda 3
Legend of a Rabbit
Jeff, Who Lives at Home
Kung Fu Hustle

In [122]:
import pickle

In [123]:
pickle.dump(df.to_dict(),open('movies.pkl','wb'))

In [124]:
pickle.dump(cos,open('similarity.pkl','wb'))